/* You can add global styles to this file, and also import other style files */

body{
    background-color: gainsboro;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightsalmon;
    color: white;
    text-align: center;
    display: block;
  }

  .media {
      text-align: center;
  }
